body {
    background: #E4F5E6;
}

p {
    text-align: center;
}
#banner {
     width: 95%;
     border: 20px solid #394038;
     padding: px;
     margin-left: 15px;
}
#lagarto  {

text-align: center;
font-size: 100px;
color:#394038;

}

#imglt{

	width: 20%;

}

#bichosl{

font-size: 30px;
color:#522625;

}

#Habitat {

font-size: 40px;
color:#394038;
}
#phabitat {

font-size: 20px;
color:#522625;

}


#coisos{
font-size: 20px;
color:#522625;


}

#p1 {
font-size:25px;
color:#522625;

}
#Caracteristicasfisicas{
font-size: 40px;
color:#394038;
}
#comportamento {
font-size: 40px;
color:#394038;
}

#pcomportamento{
font-size: 20px;
color:#522625;

}

#lagarto8 {
width:19%;
height:19%;
border: 10px solid #394038;

}

#lartixa9 {
width:14%;
height:14%;
border: 10px solid #394038;
}
#h5 {
font-size: 40px;
color:#394038;

}
#lista19 {
font-size: 22px;
color:#522625;


}
#abcd {
border: 10px solid #394038;


}

#h2o  {

border: 10px solid #394038;
width:300px;

}
